<?xml version="1.0"?>
<launch>

    <param name="robot_description" textfile="$(find bazu)/urdf/bazu.urdf"/> 
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model bazu"    />

    <node name="RSP" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

    <rosparam  file="$(find bazu)/config/controller.yaml"/>

    <node name="Controller_Spawner" pkg="controller_manager" type="spawner" args="joint_1_controller joint_2_controller joint_3_controller joint_4_controller" />

        
   
    

</launch>